<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>team</key>
	<dict>
		<key>name</key>
		<string>Barcelona FC</string>
		<key>url</key>
		<string>https://www.blaugranas.com/media/galeria/25/4/0/5/4/n_f_c_barcelona_escudo-9734504.png</string>
		<key>subtitle</key>
		<string>Founded on November 29, 1899; 117 years ago</string>
		<key>bio</key>
		<string>Futbol Club Barcelona (Catalan pronunciation: [fubˈbɔɫ ˈkɫub bərsəˈɫonə] (About this sound listen)), commonly known as Barcelona and familiarly as Barça,[note 1] is a professional football club based in Barcelona, Catalonia, Spain.

Founded in 1899 by a group of Swiss, English and Catalan footballers led by Joan Gamper, the club has become a symbol of Catalan culture and Catalanism, hence the motto &quot;Més que un club&quot; (English: &quot;More than a club&quot;). Unlike many other football clubs, the supporters own and operate Barcelona. It is the second most valuable sports team in the world, worth $3.56 billion, and the world&apos;s second richest football club in terms of revenue, with an annual turnover of €560.8 million.[2][3] The official Barcelona anthem is the &quot;Cant del Barça&quot;, written by Jaume Picas and Josep Maria Espinàs.[4]</string>
	</dict>
	<key>members</key>
	<array>
		<dict>
			<key>first</key>
			<string>Ernesto</string>
			<key>last</key>
			<string>Valverde</string>
			<key>role</key>
			<string>coach</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/102/103/254/50227046/1.0-7/50227046.jpg?t=1500558302000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Ter</string>
			<key>last</key>
			<string>Segen</string>
			<key>number</key>
			<integer>1</integer>
			<key>role</key>
			<string>goalkeeper</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/90/103/254/50227034/1.0-7/50227034.jpg?t=1500558288000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Gerard</string>
			<key>last</key>
			<string>Piqué</string>
			<key>number</key>
			<integer>5</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/198/102/254/50226886/1.0-7/50226886.jpg?t=1500558237000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Ivan</string>
			<key>last</key>
			<string>Rakitic</string>
			<key>number</key>
			<integer>4</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/210/102/254/50226898/1.0-7/50226898.jpg?t=1500558274000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Sergio</string>
			<key>last</key>
			<string>Busquets</string>
			<key>number</key>
			<integer>5</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/78/103/254/50227022/1.0-7/50227022.jpg?t=1500558300000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Denis</string>
			<key>last</key>
			<string>Suárez</string>
			<key>number</key>
			<integer>6</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/126/102/254/50226814/1.0-7/50226814.jpg?t=1500558180000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Arda</string>
			<key>last</key>
			<string>Turan</string>
			<key>number</key>
			<integer>7</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/114/102/254/50226802/1.0-7/50226802.jpg?t=1500558167000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Andrés</string>
			<key>last</key>
			<string>Iniesta</string>
			<key>number</key>
			<integer>8</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/150/102/254/50226838/1.0-7/50226838.jpg?t=1500558204000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Luis</string>
			<key>last</key>
			<string>Suárez</string>
			<key>number</key>
			<integer>9</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/84/103/254/50227028/1.0-7/50227028.jpg?t=1500558302000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Lionel</string>
			<key>last</key>
			<string>Messi</string>
			<key>number</key>
			<integer>10</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/174/102/254/50226862/1.0-7/50226862.jpg?t=1500558216000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Rafael</string>
			<key>last</key>
			<string>Alcántara do Nascimento</string>
			<key>role</key>
			<string>goalkeeper</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/204/102/254/50226892/1.0-7/50226892.jpg?t=1500558269000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Jasper</string>
			<key>last</key>
			<string>Cillessen</string>
			<key>number</key>
			<integer>13</integer>
			<key>role</key>
			<string>goalkeeper</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/120/102/254/50226808/1.0-7/50226808.jpg?t=1500558170000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Javier</string>
			<key>last</key>
			<string>Mascherano</string>
			<key>number</key>
			<integer>14</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/168/102/254/50226856/1.0-7/50226856.jpg?t=1500558213000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Francisco </string>
			<key>last</key>
			<string>Alcácer</string>
			<key>number</key>
			<integer>17</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/192/102/254/50226880/1.0-7/50226880.jpg?t=1500558229000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Jordi</string>
			<key>last</key>
			<string>Alba</string>
			<key>number</key>
			<integer>18</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/156/102/254/50226844/1.0-7/50226844.jpg?t=1500558208000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Lucas</string>
			<key>last</key>
			<string>Digne</string>
			<key>number</key>
			<integer>19</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/138/102/254/50226826/1.0-7/50226826.jpg?t=1500558190000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Sergi</string>
			<key>last</key>
			<string>Roberto</string>
			<key>number</key>
			<integer>20</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/72/103/254/50227016/1.0-7/50227016.jpg?t=1500558298000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>André</string>
			<key>last</key>
			<string>Filipe Tavares Gomes</string>
			<key>number</key>
			<integer>21</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/232/98/254/50225896/1.0-7/50225896.jpg?t=1500558159000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Aleix</string>
			<key>last</key>
			<string>Vidal</string>
			<key>number</key>
			<integer>22</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/226/98/254/50225890/1.0-7/50225890.jpg?t=1500558170000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Samuel</string>
			<key>last</key>
			<string>Umtiti</string>
			<key>number</key>
			<integer>23</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/96/103/254/50227040/1.0-7/50227040.jpg?t=1500558296000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Thomas</string>
			<key>last</key>
			<string>Vermaelen</string>
			<key>number</key>
			<integer>15</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/108/103/254/50227052/1.0-7/50227052.jpg?t=1500558305000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Sergi</string>
			<key>last</key>
			<string>Samper</string>
			<key>number</key>
			<integer>26</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/60/103/254/50227004/1.0-7/50227004.jpg?t=1500558286000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Munir</string>
			<key>last</key>
			<string>El Haddadi</string>
			<key>number</key>
			<integer>29</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/180/102/254/50226868/1.0-7/50226868.jpg?t=1500558220000</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Douglas</string>
			<key>last</key>
			<string>Pereira dos Santos</string>
			<key>number</key>
			<integer>28</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>https://media-public.fcbarcelona.com/20157/0/document_thumbnail/20197/144/102/254/50226832/1.0-7/50226832.jpg?t=1500558196000</string>
		</dict>
	</array>
</dict>
</plist>
