<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Title 1</string>
		<key>subtitle</key>
		<string>macOS (pronounced /ˌmækoʊˈɛs/;[6] previously Mac OS X and later OS X) is the current series of Unix-based graphical operating systems developed and marketed by Apple Inc. designed to run on Apple&apos;s Macintosh computers (&quot;Macs&quot;), having been preinstalled on all Macs since 2002. Within the market of desktop, laptop and home computers, and by web usage, it is the second most widely used desktop OS after Microsoft Windows.[7][8]</string>
	</dict>
</array>
</plist>
