<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>team</key>
	<dict>
		<key>name</key>
		<string>Real Madrid C.F.</string>
		<key>url</key>
		<string>http://www.fotolip.com/wp-content/uploads/2016/05/Real-Madrid-Logo-2.png</string>
		<key>subtitle</key>
		<string>Founded on March 6 1902; 115 years ago</string>
		<key>bio</key>
		<string>Futbol Club Barcelona (Catalan pronunciation: [fubˈbɔɫ ˈkɫub bərsəˈɫonə] (About this sound listen)), commonly known as Barcelona and familiarly as Barça,[note 1] is a professional football club based in Barcelona, Catalonia, Spain.

Founded in 1899 by a group of Swiss, English and Catalan footballers led by Joan Gamper, the club has become a symbol of Catalan culture and Catalanism, hence the motto &quot;Més que un club&quot; (English: &quot;More than a club&quot;). Unlike many other football clubs, the supporters own and operate Barcelona. It is the second most valuable sports team in the world, worth $3.56 billion, and the world&apos;s second richest football club in terms of revenue, with an annual turnover of €560.8 million.[2][3] The official Barcelona anthem is the &quot;Cant del Barça&quot;, written by Jaume Picas and Josep Maria Espinàs.[4]</string>
	</dict>
	<key>members</key>
	<array>
		<dict>
			<key>first</key>
			<string>ZINEDINE</string>
			<key>last</key>
			<string>ZIDANE</string>
			<key>role</key>
			<string>coach</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/00_zidane.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>MATEO</string>
			<key>last</key>
			<string>KOVACIC</string>
			<key>number</key>
			<integer>16</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/16_kovacic.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Raphaël</string>
			<key>last</key>
			<string>Varane</string>
			<key>number</key>
			<integer>5</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/05_varane.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>DANIEL CEBALLOS</string>
			<key>last</key>
			<string>FERNÁNDEZ</string>
			<key>number</key>
			<integer>24</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/ceballos_ficha.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Keylor</string>
			<key>last</key>
			<string>Navas</string>
			<key>number</key>
			<integer>1</integer>
			<key>role</key>
			<string>goalkeeper</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/01_keylor.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>MARCO ASENSIO</string>
			<key>last</key>
			<string>WILLEMSEN</string>
			<key>number</key>
			<integer>20</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/01_keylor.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>FRANCISCO ROMÁN</string>
			<key>last</key>
			<string>ALARCÓN</string>
			<key>number</key>
			<integer>22</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/22_isco.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>MARCELO</string>
			<key>last</key>
			<string>VIEIRA DA SILVA</string>
			<key>number</key>
			<integer>12</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/12_marcelo.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>KARIM</string>
			<key>last</key>
			<string>BENZEMA</string>
			<key>number</key>
			<integer>9</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/09_benzema.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>CRISTIANO</string>
			<key>last</key>
			<string>RONALDO DOS SANTOS</string>
			<key>number</key>
			<integer>7</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/07_ronaldo.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>THEO</string>
			<key>last</key>
			<string>HERNÁNDEZ</string>
			<key>number</key>
			<integer>15</integer>
			<key>role</key>
			<string>goalkeeper</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/550x650_theo2.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>MARCOS</string>
			<key>last</key>
			<string>LLORENTE</string>
			<key>number</key>
			<integer>18</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/550x650_llorente_ficha.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>TONI</string>
			<key>last</key>
			<string>KROOS</string>
			<key>number</key>
			<integer>8</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/08_kroos.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Jesús</string>
			<key>last</key>
			<string>Vallejo</string>
			<key>number</key>
			<integer>3</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/vallejo.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Sergio</string>
			<key>last</key>
			<string>Ramos</string>
			<key>number</key>
			<integer>4</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/04_ramos.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Kiko</string>
			<key>last</key>
			<string>Casilla</string>
			<key>number</key>
			<integer>13</integer>
			<key>role</key>
			<string>goalkeeper</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/13_casilla.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>BORJA</string>
			<key>last</key>
			<string>MAYORAL MOYA</string>
			<key>number</key>
			<integer>21</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_380px/550x650_mayoral_ficha.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>LUKA</string>
			<key>last</key>
			<string>MODRIC</string>
			<key>number</key>
			<integer>10</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/19_modric.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>GARETH</string>
			<key>last</key>
			<string>BALE</string>
			<key>number</key>
			<integer>11</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/11_bale.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>CARLOS HENRIQUE</string>
			<key>last</key>
			<string>CASEMIRO</string>
			<key>number</key>
			<integer>14</integer>
			<key>role</key>
			<string>midfielder</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/14_casemiro.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>LUCAS</string>
			<key>last</key>
			<string>VÁZQUEZ</string>
			<key>number</key>
			<integer>17</integer>
			<key>role</key>
			<string>forward</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/17_lucas.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>Dani</string>
			<key>last</key>
			<string>Carvajal</string>
			<key>number</key>
			<integer>2</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/02_carvajal.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>RUBÉN</string>
			<key>last</key>
			<string>YÁÑEZ</string>
			<key>number</key>
			<integer>25</integer>
			<key>role</key>
			<string>goalkeeper</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/25_yanez.jpg</string>
		</dict>
		<dict>
			<key>first</key>
			<string>José</string>
			<key>last</key>
			<string>Nacho</string>
			<key>number</key>
			<integer>6</integer>
			<key>role</key>
			<string>defender</string>
			<key>url</key>
			<string>http://www.realmadrid.com/img/vertical_220px/06_nacho.jpg</string>
		</dict>
	</array>
</dict>
</plist>
